<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TypingWork"
        tools:targetApi="33">
        <activity
            android:name=".Activity.WorkWithUsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SpinActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentProofActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VideoActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.FullScreenActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ReferActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ContentActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ChatActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.WithdrawActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.OTPMatchActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.SpleshActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".Utils.FirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>